* {
    box-sizing: border-box;
}

body {
    font-family: 'Reenie Beanie', cursive;
    font-size: 1.5em;
    line-height: 0.8em;
    background-color: #f2e67d;
    background: repeating-linear-gradient(-2deg, #f2e67d, #f2e67d 60px, #ffd66d 60px, #ffd66d 64px);
}

header{
    max-width: 700px;
    min-width: 360px;
    margin: auto;
    padding: 3px 10px;
}

footer {
    margin: auto;
    padding: 30px;
    background: rgba(255,255,255,0.5);
    width: 90%;
    text-align: center;
    line-height: 2em;
    transform: rotate(-2deg);
}

h1 {
    font-family: 'pokesolid', serif;
    font-size: 2.5em;
    display: inline-block;
    color: #FFDE00;
    -webkit-text-stroke: 2px blue;
    text-shadow: -4px 3px 2px #333;
    letter-spacing: 4px;
    transform: rotate(-2deg);
}

button {
    font-family: 'Reenie Beanie', cursive;
    font-size: 2em;
    line-height: 0.9em;
    background-color: rgba(242,230,125,0);
    margin: 2px;
    border: 6px solid #f2e67d;
    border-bottom: 2px solid #f2e67d;
    border-right: 4px solid #f2e67d;
    border-radius: 50%;
    display: inline-block;
    font-weight: 300;
    border-color: rgba(242,230,125,0);
    transform: rotate(-2deg);
    white-space: nowrap;
}

button:hover {
    border: 6px solid #ff2000;
    border-bottom: 2px solid #ff2000;
    border-right: 4px solid #ff2000;
    background-color: rgba(255, 32, 0, 0.2);
}

button:focus {
    outline: 0 !important;
    background-color: rgba(255, 32, 0, 0.45);
}


span {
    color: blue;
    padding: 20px;
}

li:hover {
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: #ff2000;
}

ul {
    max-width: 500px;
    margin: auto;
    white-space: nowrap;
}

#loading {
    width: 100%;
    max-width: 400px;
    padding: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -250px;
    z-index: 5;
    visibility: hidden;
    border-radius: 14px;
    background-color: #fff;
    text-align: center;
}

#loading__text {
    font-family: 'pokesolid', serif;
    padding: 30px;
    font-size: 0.7em;
}

@font-face {
    font-family: 'pokesolid';
    src: url('../fonts/pokemon_solid-webfont.woff2') format('woff2'),
        url('../fonts/pokemon_solid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}